body {
  display: flex;
  gap: 5rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #213555;
}
.parent-container {
  background-color: #f0f0f0;
}
.header-container,
.footer-container {
  padding: 10px !important;
  background-color: #4f709c;
  padding: 1rem;
  font-size: large;
  color: black;
}
.header-container li {
  list-style: none;
  display: inline;
  padding: 10px;
}
.footer-container li{
  list-style: none;
  display: inline;
  padding: 10px;
}
.first-container {
  padding: 150px;
  background-color: #aad7d9;
}
h1 {
  font-style: italic;
  font-size: 5rem;
}
span.name {
  color: #f0f0f0;
  text-shadow: rgb(18, 30, 49) 1px 1px 1px;
}
h2,
h3,
p {
  font-family: "Raleway", sans-serif;
  color: rgb(18, 30, 49);
}
h2 {
  font-size: 3rem;
  text-shadow: #aad7d9 2px 2px 2px;
  padding-top: 20px;
}
h3 {
  font-size: 2rem;
  text-shadow: #aad7d9 2px 2px 2px;
}
p {
  font-size: 1.5rem;
}
.second-container {
  margin: 100px;
  padding: 2%;
}
.third-container {
  background-color: #e5d283;
  padding: 2%;
}
.parent-project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img {
  height: 400px;
  width: 400px;
  border-radius: 10%;
}
.first-container img {
  border-radius: 50%;
  border: #f0f0f0 solid 0.2rem;
  width: 300px;
}
.skill-text {
  background-color: #f0f0f0;
  border-radius: 10%;
  padding: 10%;
  margin: 20px;
  text-align: center;
  align-items: center;
}
.fourth-container {
  margin: 30px;
  padding: 5%;
}
