@media screen and (max-width:600px) {
    .parent-project-container{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}
* {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    justify-content: center;
    align-items: center; 
    padding: 3px;
    color: #213555;
}
.body{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    gap: 5rem;
}
li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
.parent-container{
    background-color:#F0F0F0;
}   
.header-container, .footer-container{
    padding: 1px !important;
    background-color: #4F709C;
    color: #F0F0F0;
    padding: 1rem;
}
h1{
    font-style: italic;
}
h2, h3, p{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:rgb(18, 30, 49);
}
h2, h3{
    color:rgb(18, 30, 49) bold;
    text-shadow:#AAD7D9 2px 2px 2px;
}
h4{
    text-decoration: underline;
}
.body-container{
    align-content: flex-start;
}
